In [ ]:
#2.1
if 5*2:
    print(10)
print("fin del programa")

10
fin del programa

In [ ]:
CAL = int(input("Dame tu calificacion"))
if CAL >= 8 :
    print("aprobado")

Dame tu calificacion7

In [ ]:
# 2.3
SUE = int(input("Dame tu sueldo"))
AUM = 0
if SUE <1000 :
    AUM =SUE * 0.15
    MSUE = SUE + AUM
print(MSUE)

Dame tu sueldo900
1035.0

In [ ]:
# 2.4
medidas = int(input("Cuantos centimetros hay en un metro"))
if medidas == 1000 :
    print("verdadero")
else:
    print("falso")

Cuantos centimetros hay en un metro10
falso

In [ ]:
# 2.5
CAL = int(input("Dame tu calificacion"))
if CAL >=8 :
  print("aprobado")
else:
    print("reprobado")

Dame tu calificacion8
aprobado

In [ ]:
# 2.6
SUE = float(input("Dame tu sueldo"))
AUM = 0
MSUE = 0
if SUE < 1000 :
  AUM= SUE*0.15
  MSUE = SUE + AUM
  print(MSUE)

In [ ]:
#2.7
N = int(input("Dame un numero"))
X = int(input("Dame un numero"))
if N == 1 :
    Resultado= 1*X
elif N == 2 :
    Resultado= 2/X
elif N == 3 :
    Resultado=3**X
print(Resultado)

Dame un numero1
Dame un numero4
4

In [ ]:
# 2.8
COSTO = int(input("Dame un precio"))
COMISION = float(input("Dame una ganancia"))
if COSTO    ==1 :
    TOTAL = COMISION + 16
elif COSTO == 2:
    TOTAL = COMISION +15
elif COSTO   == 3:
    TOTAL = COMISION + 14
elif COSTO   == 4:
    TOTAL = COMISION + 13
print( COSTO , COMISION)

In [ ]:
# 2.9
valor = int(input("ingrese numeros entre 1 y 2 "))
valor2 = int(input("ingrese numeros entre 3 y 5"))
if valor : 
    print(valor * 5 )
elif valor2:
    print(valor2 * 5)
valor3

ingrese numeros entre 1 y 2 2
ingrese numeros entre 3 y 54
10

In [ ]:
2.10
NUM = int(input("dame un numero entre uno 1 y 3 :"))
V =float(input("Dame un valor float"))

if NUM == 1:
    VAL = 100 * V 
elif NUM == 2:
    VAL= 100 ** V
elif NUM == 3:
    VAL =100/VAL
else:
    VAL = 0

print(VAL)

In [ ]:
# 2.11
CATE = int(input("Introduce la categoria"))
SUE = float(input("Introduce el sueldo"))
if CATE ==1 :
    MSUE = SUE * 1.15;
elif CATE == 2:
    MSUE = SUE * 1.10;
elif CATE == 3:
    MSUE = SUE * 1.08;
elif CATE == 4:
    MSUE = SUE * 1.07;
print(f"Categorias= {CATE} , Sueldo ",MSUE)

In [ ]:
# 2.12
A = int(input("Dame un valor "))
B = int(input("Dame un valor "))
C = int(input("Dame un valor "))
if A>B:
    if A>C:
        if B>C:
            print(A, B, C,)
        else:
            print(A, C, B,)
    else:
        print(C, A, B)
elif B>C:
    if A>C:
        print(B, A, C)
    else:
        print(B, C, A)
else:
    print(C, B, A)